body {
  background: #110c00;
  font-family: "Sora", sans-serif;
  color: white;
  margin: 0;
}

.main_padding {
  padding: 21px 33px;
}

.empty {
  text-align: center;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-art-page {
  width: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .main_padding {
    padding: 21px;
  }
}
